    {{{body}}}

    <footer class="row">
      <div class="col-sm-12">
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="Terms of service">Terms of service</a>
      </div>
    </footer>

  </body>

</html>
