body {
  background: url(http://subtlepatterns.com/patterns/crossword.png);
}

body .container {
}

h1.header {
  background: url(http://subtlepatterns.com/patterns/stardust.png);
  color: #eee;
  height: 300px;
  font-size: 100px;
  line-height: 300px;
  margin-top: 0;
  text-align: center;
}

.nav-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  border: 1px solid #222;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card h1 {
  display: inline-block;
}

.card .date {
  border-bottom: 1px solid #222;
  padding: 10px;
}

.card .description {
  overflow: none;
  padding: 10px;
}

.card .description p {
  white-space: pre-line;
}

.card footer {
  border-top: 1px solid #222;
}

.card footer h4 {
  display: inline-block;
  vertical-align: middle;
}

.create-btn {
  position: absolute;
  top: 10px;
  right: 25px;
}

body > footer p {
  background: url(http://subtlepatterns.com/patterns/footer_lodyas.png);
  color: #eee;
  height: 100px;
  line-height: 100px;
  margin-bottom: 0;
}
