{{> header}}

<div class="row">
  <div class="container">

    <div class="col-md-6 col-sm-offset-3">
      <ul class="nav-list nav nav-pills nav-justified">
        <li role="presentation" class="active">
          <a href="/">My Events</a>
        </li>
        <li role="presentation">
          <a href="/">Explore</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-offset-3">

      <div class="card row">

        <div class="col-md-12">
          <h1>The Name</h1>
        </div>

        <div class="date col-md-12">
          <em>February 21st, 2015 9am - 10pm</em>
        </div>

        <div class="description col-md-12">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vestibulum ornare lacus vel ornare. Sed luctus ante sem, non condimentum felis pharetra non. Quisque varius justo elit, eu venenatis libero sodales sed. Phasellus ornare dictum justo, sit amet lacinia orci. Vestibulum est urna, interdum in lacinia vitae, auctor eleifend lectus. In et tellus magna. Curabitur ut sem nec lectus molestie maximus eget quis purus. Pellentesque nulla erat, facilisis sed vestibulum eget, sollicitudin rutrum ipsum. Maecenas porta ac nunc eu sodales. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

            Duis dignissim rutrum diam. Donec ut arcu scelerisque, fringilla ligula non, euismod nibh. Vivamus sit amet nibh at nibh pharetra eleifend non lacinia elit. Donec blandit turpis eu arcu eleifend, non elementum sapien consequat. Integer sodales enim arcu, suscipit congue nunc volutpat id. Duis hendrerit enim ac magna commodo, lacinia volutpat ante venenatis. Donec lobortis consequat tortor at lobortis. Cras sollicitudin elit nibh, ut bibendum sapien feugiat eget. Sed magna leo, euismod eu porta a, egestas sed nunc. Phasellus vitae velit vitae neque consectetur cursus vel vitae odio.</p>

          <!--<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=16&center=40.7565%2C-73.9897&key=AIzaSyCWidOuuAQFblPoVZacnDuXJdb92mm7cMc"></iframe>-->
          <ul class="list-unstyled">
            <li>
              <input type="radio" name="role" id="card-form_attendee">
              <label for="card-form_attendee">Attendee</label>
            </li>
            <li>
              <input type="radio" name="role" id="card-form_volunteer">
              <label for="card-form_volunteer">Volunteer</label>
            </li>
          </ul>
          <button class="btn btn-default">Attending</button>
          <button class="btn btn-default">Not Attending</button>
        </div>

        <footer class="col-md-12 text-right">
          <img src="/avatars/stuff">
          <h4>Joe @ MCKE High School</h4>
        </footer>

      </div>
    </div>


  </div>
</div>

{{> footer}}
