{{> header}}

<div class="row">
  <div class="container">

    <div class="col-md-6 col-sm-offset-3">
      <ul class="nav-list nav nav-pills nav-justified">
        <li role="presentation" class="active">
          <a href="/">Explore</a>
        </li>
        <li role="presentation">
          <a href="/myevents">My Events</a>
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-offset-3">

    {{> card}}

    </div>


  </div>
</div>

{{> footer}}
