{{> header}}

<nav class="row">
  <div class="col-sm-12">
    <h3>The Epic Name</h3>
  </div>
</nav>

<div class="row">
  <div class="container">

    <div class="col-md-6 col-sm-offset-3">
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="active"><a href="/">test 1</a></li>
        <li role="presentation"><a href="/">test 2</a></li>
      </ul>
    </div>

    <div class="col-md-6 col-sm-offset-3 feed-nav text-center">
      <div class="col-md-6">
        <p>Filter by...</p>
      </div>
      <div class="col-md-6">
        <input type="search" placeholder="Search...">
      </div>
    </div>

    <div class="col-md-6 col-sm-offset-3">

    {{> card}}

    </div>


  </div>
</div>

{{> footer}}
